name: marble_studyo
description: "i build this app for completing the assigment from studyo interview. i'm a little nervous about this but whatever, let's do the work!."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  flame: ^1.34.0
  get: 

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
